.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;

  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  width: 500px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  border-radius: 8px;
  padding: 25px 25px 15px 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-height: 90%;
  overflow: scroll;
  position: fixed;
}

.spacing-Bottom-M {
  margin-bottom: 20px;
}

.spacing-Bottom-S {
  margin-bottom: 10px;
}

.spacing-Bottom-Xs {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.width-70 {
  width: 95%;
}

.close-icon {
  width: 15px;
  height: 15px;
}

.margin-left-Xs {
  margin-left: 15px;
}

.btn {
  height: 40px;
  background-color: rgba(99, 95, 199, 100%);
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 1.5rem;
}

.btn:hover {
  background-color: rgba(99, 95, 199, 60%);
}

.checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--tertiary-bg-color);
  height: 40px;
  border-radius: 3px;
}

.checkbox-container:hover {
  background: rgba(99, 95, 199, 0.25);
}

.delete-btn {
  height: 40px;
  width: 190px;
  border-radius: 20px;
  border: none;
}

.btn-Danger {
  background-color: #ea5555;
  color: #ffff;
  font-weight: bold;
}

.btn-Danger:hover {
  background-color: rgba(234, 85, 85, 0.6);
}

.btn-Light {
  font-weight: bold;
  background-color: rgb(239, 239, 249);
  color: #635fc7;
}

.btn-Light:hover {
  background-color: rgb(180, 190, 249);
}
