html,
body,
#root,
.app,
.board {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

button,
input,
select,
textarea {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgba(130, 143, 163, 0.25);
  width: 100%;
}

select:focus,
input:focus,
textarea:focus {
  outline: 1px solid #635fc7;
}

input[type="checkbox"] {
  accent-color: #635fc7;
  width: 15px;
  height: 15px;
}

input[type="text"] {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}

::placeholder {
  color: rgb(188, 188, 188);
  font-weight: 400;
}

.light {
  color: #000112;
}

.dark {
  color: white;
}

.none {
  display: none;
}

.dimmed {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  padding: 10px;
  height: 130px;
}

select {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

option {
  color: #828fa3;
  font-size: 14px;
}

.c-Pointer {
  cursor: pointer;
}

.btn-panel {
  width: 5px;
  height: 20px;
  cursor: pointer;
}

.space-around {
  justify-content: space-around;
}

.dropdown-panel {
  width: 170px;
  height: 100px;
  position: absolute;
  background: white;
  right: 30px;
  top: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 4px;
  padding: 20px;
}

.dropdown-panel > p {
  cursor: pointer;
}

